fail_fast: false
repos:
  - repo: https://github.com/pocc/pre-commit-hooks
    rev: v1.3.5
    hooks:
      - id: clang-format
        args: ["-style=file", "-i"]
        files: ^(src|include/joanna)/.*\.(c|cpp|h|hpp)$

      - id: clang-tidy
        args: ["-p=build"]
        files: ^(src|include/joanna)/.*\.(c|cpp|h|hpp)$
